<div class="row">
  <div class="col-12 col-lg-6" data-hook="admin_zone_form_fields">
    <div class="card mb-3">
      <div class="card-header">
        <h5 class="card-title mb-0 h6"><%= Spree.t(:general_settings) %></h5>
      </div>

      <div class="card-body">
        <%= badge_form.field_container :name do %>
          <%= badge_form.label :name, Spree.t(:name) %>
          <%= badge_form.text_field :name, class: 'form-control' %>
          <%= badge_form.error_message_on :name %>
        <% end %>
      </div>
    </div>
  </div>
</div>
